.img-tools {
    padding: 24px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    .action-bar {
        display: flex;
        gap: 12px;
    }

    .result {
        display: flex;
        gap: 40px;
    }
}